#LangSmith tracing
LANGCHAIN_API_KEY="Your LangChain API key here"
LANGCHAIN_TRACING_V2=true   (optional, set to true to enable tracing)
LANGCHAIN_PROJECT_NAME=Q&A Chatbot (optional, set to your project name)

#HuggingFace
HUGGINGFACEHUB_API_TOKEN="Your HuggingFace API token here"

#Groq
GROQ_API_KEY="Your Groq API key here"

#tool key
TAVILY_API_KEY = "Your Tavily API key here"