streamlit
streamlit-mic-recorder
groq
SpeechRecognition
gTTS
python-dotenv

langchain
langchain-community
langchain-groq
langchain-tavily
langchain-chroma
langchain-huggingface

chromadb
sentence-transformers
pypdf
